.copyright {
  font-size: 19px;
  color: #000000;
  font-weight: 700;
  line-height: 18px;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 260px;
    height: 1px;
    background-color: #e5e5e5;
    top: -22px;
  }
}

.copyright__text {
  color: #000000;
  margin: 0;
}

.copyright__link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.copyright__svg {
  margin-left: 30px;
  fill: $blue;
  transform: 0.15s;
}

.copyright__link:hover .copyright__svg,
.copyright__link:focus .copyright__svg {
  fill: #46c1ae;
}

.copyright__link:active .copyright__svg {
  fill: #46c1ae;
  opacity: 0.3;
}

.copyright__link:active .copyright__text {
  opacity: 0.3;
}

.copyright__text:active {
  opacity: 0.3;
}

@media (min-width: $tablet) {
  .copyright::before {
    display: none;
  }
}
